@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

html[data-theme-transition='to-light']::view-transition-new(root) {
  z-index: 1;
}

html[data-theme-transition='to-dark']::view-transition-old(root) {
  z-index: 1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@theme inline {
  --font-sans: var(--font-inter);

  --radius: 16px;
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-brand: var(--brand);
  --color-brand-light: var(--brand-light);
  --color-brand-indicator: var(--brand-indicator);

  --color-content-03: var(--content-03);
  --color-content-05: var(--content-05);
  --color-content-06: var(--content-06);

  --color-indicator-positive: var(--indicator-positive);
  --color-indicator-error: var(--indicator-error);
  --color-indicator-attention: var(--indicator-attention);
  --color-indicator-progress: var(--indicator-progress);
  --color-indicator-light: var(--indicator-light);

  --color-success-50: var(--success-50);
  --color-error-50: var(--error-50);

  --color-text-invert: var(--text-invert);
}

:root {
  --background: #ffffff;
  --foreground: #141c24;

  --card: #ffffff;
  --card-foreground: #141c24;
  --popover: #ffffff;
  --popover-foreground: #141c24;

  --brand: #712d9c;
  --brand-light: #f1d8f9;
  --brand-indicator: #e2a4ff;
  --primary: #712d9c;
  --primary-foreground: #ffffff;

  --secondary: #f3f4f6;
  --secondary-foreground: #141c24;

  --muted: #f3f4f6;
  --muted-foreground: #637083;

  --accent: #f3f4f6;
  --accent-foreground: #141c24;

  --content-03: #344051;
  --content-05: #637083;
  --content-06: #97a1af;

  --border: #ced2da;
  --input: #ced2da;
  --ring: #712d9c;

  --indicator-positive: #40bf7f;
  --indicator-error: #f64c4c;
  --indicator-attention: #fdd442;
  --indicator-progress: #40bf7f;
  --indicator-light: #ced2da;

  --success-50: #ecf9f2;
  --error-50: #fee7e7;

  --overlay: #2121213d;

  --destructive: #f64c4c;

  --text-invert: #ffffff;
}

.dark {
  --background: #141c24;
  --foreground: #ffffff;

  --card: #344051;
  --card-foreground: #ffffff;
  --popover: #344051;
  --popover-foreground: #ffffff;

  --brand: #9534d2;
  --brand-light: #f1d8f9;
  --brand-indicator: #e2a4ff;
  --primary: #9534d2;
  --primary-foreground: #ffffff;

  --secondary: #344051;
  --secondary-foreground: #ffffff;

  --muted: #344051;
  --muted-foreground: #ced2da;

  --accent: #344051;
  --accent-foreground: #ffffff;

  --content-03: #eff0f1;
  --content-05: #ced2da;
  --content-06: #97a1af;

  --border: #ced2da;
  --input: #344051;
  --ring: #9534d2;

  --indicator-positive: #4ecf53;
  --indicator-error: #f64c4c;
  --indicator-attention: #fdd442;
  --indicator-progress: #40bf7f;
  --indicator-light: #ced2da;

  --success-50: #ecf9f2;
  --error-50: #fee7e7;

  --overlay: #2121213d;

  --destructive: #f64c4c;

  --text-invert: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .text-title-h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
  }

  .text-title-h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-paragraph-16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  .text-paragraph-14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
  }

  .text-paragraph-12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
  }
}
